{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="mb-0">Casos de Investigación</h2>
    <a href="{% url 'add_case' %}" class="btn btn-primary">
        Añadir nuevo caso
    </a>
</div>

<div class="list-group">
    {% for case in page_obj %}
        <a href="{% url 'case_detail' case.id %}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center bg-dark text-light">
            <span>
                <i class="bi bi-folder2-open"></i> {{ case.title }}
            </span>
            {% if case.is_closed %}
                <span class="badge bg-danger">Cerrado</span>
            {% else %}
                <span class="badge bg-success">Abierto</span>
            {% endif %}
        
            <p class="mb-1"><strong>Fecha de creación:</strong> {{ case.created_at|date:"d/m/Y H:i" }}</p>

            <form action="{% url 'generate_pdf_report' case.id %}" method="get" target="_blank">
                    <button type="submit" class="btn btn-secondary">
                        📄 Descargar reporte PDF
                    </button>
                </form>
        </a>
    {% empty %}
        <div class="alert alert-info mb-0">
            No hay casos registrados.
        </div>
    {% endfor %}

    <br>
    <!-- Paginación -->
    {% with request.GET.urlencode as filter_query %}
        {% if filter_query %}
            {% with filter_query|cut:'page='|cut:'&&'|cut:'&page=' as filter_query %}
            {% endwith %}
        {% endif %}
        <nav aria-label="Paginación">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?{{ filter_query }}{% if filter_query %}&{% endif %}page={{ page_obj.previous_page_number }}">&laquo;</a>
                </li>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                {% if num <= 2 or num > page_obj.paginator.num_pages|add:'-2' or num >= page_obj.number|add:'-1' and num <= page_obj.number|add:'1' %}
                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                    <a class="page-link" href="?{{ filter_query }}{% if filter_query %}&{% endif %}page={{ num }}">{{ num }}</a>
                    </li>
                {% elif num == 3 or num == page_obj.paginator.num_pages|add:'-2' %}
                    <li class="page-item disabled"><span class="page-link">…</span></li>
                {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?{{ filter_query }}{% if filter_query %}&{% endif %}page={{ page_obj.next_page_number }}">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    {% endwith %}


</div>
{% endblock %}